.recommended {
  padding-top: var(--sectoin-spacing-top);

  @include mobile {
    padding-top: 64px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 56px;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 32px;
      margin-bottom: 48px;
    }
  }

  &__block {
    display: flex;
    flex-flow: row wrap;
    gap: 56px $card-gap;

    @include mobile {
      row-gap: 40px;
    }
  }

  &__product-card {
    flex: 0 0 calc((100% - $card-gap * 2) / 3);

    @include mobile {
      flex: 0 0 100%;
    }

    @include tablet {
      flex: 0 0 100%;
    }
  }
}
